/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

.navbar {
  background-color: #061030;
  height: 80px;
}

.navbar__search {
  position: relative;
}


.navbar__search-input {
  padding: 8px 12px;
  width: 265.5px;
  height: 40px;
  border-radius: 50px;
  background-color: #3F4351;
  color: #ffffff;
  font-size: 16px;
}

.navbar__link:nth-child(3)  {
  background-color: #E61848;
  border-radius: 50px;
  width: 160px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: white;
  text-decoration: none;
}

.navbar__link:nth-child(3) svg {
  display: none;
}

.navbar__link--active {
  color: white;
}

.navbar__link {
  color: white;
}

.toggle-theme {
  color: #ffffff !important;
}

footer {
  position: relative;
  height: 85px;
}

#footerBox {
  position: absolute;
  bottom: 50%;
  left: 74px;
  transform: translateY(50%);
  color: #38A0F4;
}

#footerBox img {
  position: absolute;
  bottom: -3px;
  left: -50px;
}

#box {
  position: absolute;
  bottom: 50%;
  right: 20px;
  transform: translateY(50%);
}



.footer {
  background: linear-gradient(to bottom, #05001C, #141F57);
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  max-width: 1080px;
  margin: 0 auto;
}

.feature {
  flex: 0 0 270px;
  height: 270px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 20px;
}


.feature-image {
  width: 240px;
  height: 240px;
}

.hero {
  background-image: url('/img/main_background.png');
  background-size: cover;
  z-index: 0;
}

[data-theme='dark'] .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #060220A6;
  z-index: -1;
} 

[data-theme='dark'] .hero .hero__title {
  font-size: 30px;
  color: white;
  margin-top: 50px;
  text-align: center;
}

[data-theme='dark'] .hero .hero__subtitle {
  font-size: 17px;
  color: white;
  text-align: center;
}

[data-theme='dark'] .hero .select__title {
  font-size: 50px;
  color: white;
  margin-top: 120px;
  text-align: center;
}


.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C6E8F6A6;
  z-index: -1;
} 

.hero .hero__title {
  font-size: 30px;
  color: black;
  margin-top: 50px;
  text-align: center;
}

.hero .hero__subtitle {
  font-size: 17px;
  color: black;
  text-align: center;
}

.hero .select__title {
  font-size: 50px;
  color: black;
  margin-top: 120px;
  text-align: center;
}

:root {
  --ifm-color-primary: #783696;
  --ifm-color-primary-dark: #6c3187;
  --ifm-color-primary-darker: #662e80;
  --ifm-color-primary-darkest: #542669;
  --ifm-color-primary-light: #843ba5;
  --ifm-color-primary-lighter: #8a3eac;
  --ifm-color-primary-lightest: #9a4bbe;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b8a6c9;
  --ifm-color-primary-dark: #a68fbb;
  --ifm-color-primary-darker: #9d84b4;
  --ifm-color-primary-darkest: #81619f;
  --ifm-color-primary-light: #cabdd7;
  --ifm-color-primary-lighter: #d3c8de;
  --ifm-color-primary-lightest: #efebf3;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
